
eagle/**/*.s#[0-9]
eagle/**/*.s$[0-9]
eagle/**/*.s##
eagle/**/*.b#[0-9]
eagle/**/*.b$[0-9]
eagle/**/*.b##
eagle/**/*.lck
eagle/**/eagle.epf
eagle/**/*.pro
eagle/**/*.job
eagle/**/*.zip
eagle/**/CAMOutputs*

zerobox/.idea/**

*.arw
*.arw_2

*.mkv

*.log

*.pyc

zerobox/tmp
*.elf

pmca_re/**
memorybox/**
